Repository ciaolavoro/ciao-lavoro, pull requests merged in 2024-04, with the labels that each got.

#307 Task 2.43 Testing de Servicio (Backend)/178 DONE
  backend/service/tests.py
  backend/service/urls.py
  backend/service/views.py
Labels: backend, testing, desarrollo

#309 Fix 2.30 - Adición Workflow Funcional/308 FIXED
  .github/workflows/codacy-ci.yml
Labels: fix

#312 Task 2.44 - testing de contratos backend/180 DONE
  backend/contract/tests.py
  backend/contract/urls.py
  backend/contract/views.py
Labels: backend, testing

#361 Task 3.4 Ajustar la promocion de servicios backend/325 DONE
  .github/ISSUE_TEMPLATE/plantilla-task--documentación-.md
  backend/db.sqlite3
  backend/requirements.txt
  backend/service/migrations/0009_alter_service_is_promoted.py
  backend/service/models.py
  backend/service/tests.py
  backend/service/urls.py
  backend/service/views.py
Labels: backend, testing, desarrollo

#364 Task 3.8 - Cancelación de contrato (Backend)/330 DONE
  backend/contract/models.py
  backend/contract/tests.py
  backend/contract/urls.py
  backend/contract/views.py
Labels: backend, desarrollo

#363 Fix 3.1 - Arreglos de register /353 FIXED
  frontend/src/components/register/Register.jsx
Labels: fix, frontend

#367 Fix 3.7 - resposive servicios/359 DONE
  backend/db.sqlite3
  frontend/src/components/service/Jobs.jsx
  frontend/src/components/service/LinkButtonContract.jsx
  frontend/src/components/service/LinkButtonJob.jsx
  frontend/src/components/service/Service.jsx
  frontend/src/components/service/ServiceButton.jsx
  frontend/src/components/service/Services.jsx
Labels: fix, frontend, desarrollo

#370 Task 3.2 - Gamificación (backend)/323 DONE
  backend/contract/tests.py
  backend/contract/views.py
  backend/user/models.py
  backend/user/tests.py
  backend/user/urls.py
  backend/user/views.py
Labels: backend, desarrollo

#372 Fix 3.9 - Añadir idioma en el registro(Frontend)/366 FIXED
  frontend/src/api/login.api.js
  frontend/src/components/register/Register.jsx
Labels: fix, frontend

#369 Task 3.9 - Cancelación de contrato(Frontend)/337 DONE
  backend/contract/serializers.py
  frontend/src/api/Contract.api.js
  frontend/src/components/contract/ContractCardClient.jsx
  frontend/src/components/contract/ContractCardWorker.jsx
Labels: frontend, desarrollo

#374 Fix 3.2 - Edición de perfil/354 DONE
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CustomAlertDialog.jsx
  frontend/src/components/Root.jsx
  frontend/src/components/icons/ChevronUpDownIcon.jsx
  frontend/src/components/register/Register.jsx
  frontend/src/components/ui/alert-dialog.jsx
  frontend/src/components/ui/button.jsx
  frontend/src/components/ui/command.jsx
  frontend/src/components/ui/dialog.jsx
  frontend/src/components/ui/popover.jsx
  frontend/src/components/ui/toast.jsx
  frontend/src/components/ui/toaster.jsx
  frontend/src/components/ui/use-toast.js
  frontend/src/components/user/UserProfile.jsx
  frontend/src/main.jsx
  frontend/src/utils/constants.js
  frontend/src/utils/validation.js
Labels: frontend, desarrollo

#371 Task 3.6 - Restricciones de las reseñas (Backend)/327 DONE
  backend/service/tests.py
  backend/service/views.py
Labels: backend, desarrollo

#380 Doc - Merge Rama Docs a Develop
  docs/Sprint 3/PlanGestiónDeConfiguración.md
  docs/Sprint 3/TestingPlanning.md
  docs/Sprint 3/feedbackUsuariosPilotoS2.md
Labels: documentación

#381 Doc - Commitment Agreement Usuarios Piloto Grupo 12 #379
  docs/Sprint 3/CAUsuariosPilotoCiaoLavor&SHAR3D.pdf
Labels: documentación

#376 Task 3.7 - Restricciones de las Reseñas/328 DONE
  backend/contract/migrations/0007_contract_description_cancelation.py
  backend/service/migrations/0010_alter_service_is_promoted.py
  backend/user/migrations/0005_user_points.py
  frontend/src/api/Contract.api.js
  frontend/src/components/service/Service.jsx
Labels: frontend, desarrollo

#385 Fix 3.12 - Aumentar número de request/383 DONE
  backend/ciao_lavoro/settings.py
Labels: backend, desarrollo

#382 Fix 3.3 - servicios/355 FIXED
  backend/service/views.py
  frontend/package-lock.json
  frontend/src/api/Service.api.js
  frontend/src/components/service/CreateService.jsx
  frontend/src/components/service/JobData.jsx
  frontend/src/components/service/Jobs.jsx
  frontend/src/components/service/Review.jsx
  frontend/src/components/service/Service.jsx
  frontend/src/components/service/Services.jsx
  frontend/src/utils/constants.js
  frontend/src/utils/validation.js
Labels: fix, frontend, desarrollo

#386 Fix 3.6 - Responsive usuario/358 DONE
  frontend/src/api/Contract.api.js
  frontend/src/api/login.api.js
  frontend/src/components/Navbar.jsx
  frontend/src/components/auth/Login.jsx
  frontend/src/components/icons/InfoIcon.jsx
  frontend/src/components/icons/LoginIcon.jsx
  frontend/src/components/icons/MenuIcon.jsx
  frontend/src/components/icons/SearchIcon.jsx
  frontend/src/components/register/Register.jsx
  frontend/src/components/service/CreateService.jsx
  frontend/src/components/service/Review.jsx
  frontend/src/components/user/UserProfile.jsx
  frontend/src/components/user/UserProfileButton.jsx
  frontend/src/components/user/UserProfileData.jsx
Labels: frontend, desarrollo

#391 Doc - gestion de la configuracion actualizacion 05 04 2024 /390 DONE
  docs/Sprint 3/PlanGestiónDeConfiguración.md
Labels: documentación

#395 Fix 3.13 arreglar añadir puntos/387 FIXED
  backend/contract/tests.py
  backend/contract/views.py
  backend/user/tests.py
  backend/user/urls.py
  backend/user/views.py
Labels: fix, backend

#393 Fix 3.5 - Contratos /357 DONE
  frontend/src/components/contract/ContractCardWorker.jsx
  frontend/src/components/contract/CreateContract.jsx
Labels: fix, frontend

#394 Fix 3.4 - Trabajos /356 DONE
  backend/service/views.py
  frontend/src/components/service/CreateJob.jsx
  frontend/src/components/service/Jobs.jsx
  frontend/src/components/service/Service.jsx
Labels: fix, frontend

#398 Fix 3.14 - Correción error refund/397 FIXED
  frontend/src/components/contract/ContractCardClient.jsx
  frontend/src/components/contract/ContractCardWorker.jsx
Labels: fix, frontend

#401 Fix 3.15 Renovacion de base de datos
  backend/db.sqlite3
Labels: fix, backend

#389 Task 3.3 gamificacion frontend /324 DONE
  backend/db.sqlite3
  frontend/src/api/Contract.api.js
  frontend/src/api/user.api.js
  frontend/src/components/Navbar.jsx
  frontend/src/components/contract/ContractCardClient.jsx
Labels: frontend

#412 Fix 3.18 - proceso de contrato/404 DONE
  frontend/src/components/contract/ContractCardClient.jsx
  frontend/src/components/contract/ContractCardWorker.jsx
Labels: fix, frontend, desarrollo

#420 Fix 3.16 - Rediseñar la página de inicio/402 DONE
  frontend/src/api/Service.api.js
  frontend/src/components/Navbar.jsx
  frontend/src/components/chat/Chat.jsx
  frontend/src/components/home/Home.jsx
  frontend/src/components/home/SearchServices.jsx
  frontend/src/components/service/ServiceCard.jsx
  frontend/src/components/service/ServiceCardMain.jsx
  frontend/src/components/service/ServiceCardSkeleton.jsx
  frontend/src/components/service/ServiceRoot.jsx
  frontend/src/components/service/ServiceUser.jsx
  frontend/src/components/service/Services.jsx
  frontend/src/components/ui/skeleton.jsx
  frontend/src/hooks/useGet.js
  frontend/src/main.jsx
Labels: frontend, desarrollo

#422 Fix 3.23 botón para promocionar en services de otros usuarios /416 DONE
  frontend/src/components/service/Service.jsx
Labels: fix, frontend

#423 Fix 3.22 - Campos dobles en editar servicio /415
  frontend/src/components/service/Service.jsx
Labels: fix, frontend

#421 Fix 3.21 - Error crear y editar un Job/414 DONE
  backend/service/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/service/CreateJob.jsx
Labels: fix, backend

#413 Doc - Contributions Report KB /332 DONE
  docs/Sprint 3/Docs Obligatorios/report.md
Labels: documentación

#425 Fix 3.25 - pagar usando puntos promocion servicio/418 DONE
  frontend/src/components/service/PromotionCard.jsx
  frontend/src/components/service/Service.jsx
  frontend/src/components/service/ServiceCard.jsx
  frontend/src/utils/validation.js
Labels: fix, frontend, desarrollo

#424 Doc- PilotUserCommitmentAgreement-Update /339 DONE
  docs/Sprint 3/Docs Obligatorios/pilotUserCommitmentAgreement/pilotUsersCommitmentAgreement.md
Labels: desarrollo

#428 Task 3.1 Arreglar base de datos en despliegue/320 DONE
  .github/workflows/codacy-ci.yml
  backend/api/migrations/0001_initial.py
  backend/api/migrations/0002_alter_contract_acceptworker.py
  backend/api/migrations/0003_delete_contract.py
  backend/api/migrations/__init__.py
  backend/api/migrations/__pycache__/__init__.cpython-310.pyc
  backend/build.sh
  backend/ciao_lavoro/settings.py
  backend/contract/migrations/0001_initial.py
  backend/contract/migrations/0002_initial.py
  backend/contract/migrations/0003_remove_contract_worker_alter_contract_status.py
  backend/contract/migrations/0004_contract_worker.py
  backend/contract/migrations/0005_alter_contract_cost.py
  backend/contract/migrations/0006_alter_contract_cost_alter_contract_end_date_and_more.py
  backend/contract/migrations/0007_contract_description_cancelation.py
  backend/db.sqlite3
  backend/populate.json
  backend/requirements.txt
  backend/service/migrations/0001_initial.py
  backend/service/migrations/0002_initial.py
  backend/service/migrations/0003_alter_service_profession.py
  backend/service/migrations/0004_alter_job_options_alter_job_estimated_price.py
  backend/service/migrations/0005_review.py
  backend/service/migrations/0006_alter_review_rating.py
  backend/service/migrations/0007_review_date_review_user.py
  backend/service/migrations/0008_alter_job_estimated_price_alter_service_city_and_more.py
  backend/service/migrations/0009_alter_service_is_promoted.py
  backend/service/migrations/0010_alter_service_is_promoted.py
  backend/user/migrations/0001_initial.py
  backend/user/migrations/0002_user_image.py
  backend/user/migrations/0003_alter_user_image.py
  backend/user/migrations/0004_alter_user_is_active.py
  backend/user/migrations/0005_user_points.py
Labels: backend, despliegue

#429 Fix 3.20 - Arreglar pasarela de pago/406 DONE
  backend/contract/views.py
  backend/service/urls.py
  backend/service/views.py
  frontend/src/api/Contract.api.js
  frontend/src/components/contract/Accordion.jsx
  frontend/src/components/contract/ContractCardClient.jsx
  frontend/src/components/contract/ContractCardWorker.jsx
  frontend/src/components/contract/ContractDescriptions.jsx
  frontend/src/components/contract/ContractUser.jsx
Labels: despliegue

#435 Doc - Feedback de los usuarios piloto S3/434 DONE
  docs/Sprint 3/feedbackUsuariosPilotoS3.md
Labels: documentación

#443 Hotfix 3.1 - unificar el backend y mejorar el testing/433 DONE
  backend/ciao_lavoro/settings.py
  backend/contract/tests.py
  backend/contract/views.py
  backend/service/tests.py
  backend/service/views.py
  backend/user/tests.py
  backend/user/urls.py
  backend/user/views.py
  frontend/src/api/Contract.api.js
  frontend/src/api/Service.api.js
  frontend/src/components/auth/Login.jsx
  frontend/src/components/contract/ContractCardClient.jsx
  frontend/src/components/contract/ContractCardWorker.jsx
  frontend/src/components/service/Service.jsx
Labels: backend, desarrollo, hotfix

#436 Doc - information provided by pilot users/343
  docs/Sprint 2/Testing/Imagenes_testing/APIViews_Student.png
  docs/Sprint 2/Testing/Imagenes_testing/Assertions_Student_Create.png
  docs/Sprint 2/Testing/Imagenes_testing/Assertions_Student_Detail.png
  docs/Sprint 2/Testing/Imagenes_testing/Assertions_Student_List.png
  docs/Sprint 2/Testing/Imagenes_testing/Clase_estudiante.png
  docs/Sprint 2/Testing/Imagenes_testing/Class_Student_Create.png
  docs/Sprint 2/Testing/Imagenes_testing/Class_Student_Detail.png
  docs/Sprint 2/Testing/Imagenes_testing/Class_Student_List_Test.png
  docs/Sprint 2/Testing/Imagenes_testing/Credentials_Login.png
  docs/Sprint 2/Testing/Imagenes_testing/DescribeGreet.png
  docs/Sprint 2/Testing/Imagenes_testing/EJemplo_Setup_Token.png
  docs/Sprint 2/Testing/Imagenes_testing/GetByRole1.png
  docs/Sprint 2/Testing/Imagenes_testing/GetByRoleTest.png
  docs/Sprint 2/Testing/Imagenes_testing/GreetExpect1.png
  docs/Sprint 2/Testing/Imagenes_testing/GreetGetByText1.png
  docs/Sprint 2/Testing/Imagenes_testing/GreetPropsts.png
  docs/Sprint 2/Testing/Imagenes_testing/GreetRender.png
  docs/Sprint 2/Testing/Imagenes_testing/GreetTest.png
  docs/Sprint 2/Testing/Imagenes_testing/GreetTest2.png
  docs/Sprint 2/Testing/Imagenes_testing/GreetTestNombre.png
  docs/Sprint 2/Testing/Imagenes_testing/GreetTestRendersCorrectly.png
  docs/Sprint 2/Testing/Imagenes_testing/Greetjsx.png
  docs/Sprint 2/Testing/Imagenes_testing/InputForm.png
  docs/Sprint 2/Testing/Imagenes_testing/InputForm2.png
  docs/Sprint 2/Testing/Imagenes_testing/InputFormTest.png
  docs/Sprint 2/Testing/Imagenes_testing/JSON_Student_Create.png
  docs/Sprint 2/Testing/Imagenes_testing/Mixer_Students_List.png
  docs/Sprint 2/Testing/Imagenes_testing/Reestricciones_clase_estudiante.png
  docs/Sprint 2/Testing/Imagenes_testing/Response_Student_Create.png
  docs/Sprint 2/Testing/Imagenes_testing/Response_Student_List.png
  docs/Sprint 2/Testing/Imagenes_testing/Setup_Test.png
  docs/Sprint 2/Testing/Imagenes_testing/Student_List_Test.png
  docs/Sprint 2/Testing/Imagenes_testing/Student_Serializer.png
  docs/Sprint 2/Testing/Imagenes_testing/Students_Detail_Creations.png
  docs/Sprint 2/Testing/Imagenes_testing/Test_Delete_Student.png
  docs/Sprint 2/Testing/Imagenes_testing/Test_Student_Create.png
  docs/Sprint 2/Testing/Imagenes_testing/Test_Student_Detail.png
  docs/Sprint 2/Testing/Imagenes_testing/ToBe.png
  docs/Sprint 2/Testing/Imagenes_testing/Url_Call_Student_List.png
  docs/Sprint 2/Testing/Imagenes_testing/Url_Student_Create.png
  docs/Sprint 2/Testing/Imagenes_testing/Urls_Student.png
  docs/Sprint 2/Testing/Testing.md
  docs/Sprint 3/Docs Obligatorios/InformationProvidedByPilotUsers.md
Labels: documentación

#444 Doc - user pilot report/333 DONE
  docs/Sprint 3/Docs Obligatorios/pilots.md
Labels: documentación

#445 Doc - pilot user performance evaluation/342 DONE
  docs/Sprint 3/Docs Obligatorios/PilotUsersPerformanceEvaluation.md
Labels: documentación

#446 Fix 3.29 - Arreglo servicios por usuarios piloto /439 FIXED
  backend/db.sqlite3
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/home/SearchServices.jsx
  frontend/src/components/service/CreateService.jsx
  frontend/src/components/service/JobData.jsx
  frontend/src/components/service/Jobs.jsx
  frontend/src/components/service/Service.jsx
  frontend/src/components/service/ServiceCard.jsx
  frontend/src/components/service/Services.jsx
  frontend/src/components/ui/tooltip.jsx
  frontend/src/utils/validation.js
  package-lock.json
Labels: fix, frontend, desarrollo

#450 Fix 3.30 - Trabajo/440 DONE
  backend/service/views.py
  frontend/src/components/service/CreateJob.jsx
  frontend/src/components/service/Jobs.jsx
Labels: fix, backend, frontend

#447 Fix 3.28 - Usuario/438 FIXED
  backend/db.sqlite3
  backend/user/views.py
  frontend/src/api/login.api.js
  frontend/src/assets/register/defaultRegisterImage.png
  frontend/src/components/Navbar.jsx
  frontend/src/components/auth/Login.jsx
  frontend/src/components/register/Register.jsx
  frontend/src/components/register/RegisterData.jsx
  frontend/src/components/user/UserProfile.jsx
  frontend/src/utils/validation.js
Labels: fix, backend, frontend

#452 Fix 3.31 - Contrato/441 FIXED
  backend/contract/views.py
  frontend/src/api/Contract.api.js
  frontend/src/components/contract/ContractCardClient.jsx
  frontend/src/components/contract/ContractCardWorker.jsx
  frontend/src/components/contract/CreateContract.jsx
  frontend/src/components/service/Service.jsx
  frontend/src/utils/validation.js
Labels: fix, backend, frontend

#454 Doc sprint3 ai usage report/336
  docs/Sprint 3/Docs Obligatorios/AI-usage.md
Labels: documentación

#456 Task 3.12 - Añadir GDPR/455 DONE
  frontend/src/components/user/UserProfile.jsx
Labels: frontend, desarrollo

#458 Doc - Individual performance evaluation/334 DONE
  docs/Sprint 3/Docs Obligatorios/PerformanceEvaluation.md
Labels: documentación

#459 Doc - Pilot User Commitment Agreement Firmados/451 DONE
  docs/Sprint 3/Docs Obligatorios/pilotUsersCommitmentAgreements/CA_AlvaroLara.md
  docs/Sprint 3/Docs Obligatorios/pilotUsersCommitmentAgreements/CA_CarlosBermudez.md
  docs/Sprint 3/Docs Obligatorios/pilotUsersCommitmentAgreements/CA_CarlosDiaz.md
  docs/Sprint 3/Docs Obligatorios/pilotUsersCommitmentAgreements/CA_CiaoLavoro&SHAR3D.pdf
  docs/Sprint 3/Docs Obligatorios/pilotUsersCommitmentAgreements/CA_LolaGrosso.md
  docs/Sprint 3/Docs Obligatorios/pilotUsersCommitmentAgreements/CA_MariaRufo.md
  docs/Sprint 3/Docs Obligatorios/pilotUsersCommitmentAgreements/CA_MarioMartin.md
  docs/Sprint 3/Docs Obligatorios/pilotUsersCommitmentAgreements/CA_MiriamPeinado.md
  docs/Sprint 3/Docs Obligatorios/pilotUsersCommitmentAgreements/CA_PilarGomez.md
  docs/Sprint 3/Docs Obligatorios/pilotUsersCommitmentAgreements/CA_RodrigoJimenez.md
  docs/Sprint 3/Docs Obligatorios/pilotUsersCommitmentAgreements/image-1.png
  docs/Sprint 3/Docs Obligatorios/pilotUsersCommitmentAgreements/image-2.png
  docs/Sprint 3/Docs Obligatorios/pilotUsersCommitmentAgreements/image-3.png
  docs/Sprint 3/Docs Obligatorios/pilotUsersCommitmentAgreements/image-4.png
  docs/Sprint 3/Docs Obligatorios/pilotUsersCommitmentAgreements/image-5.png
  docs/Sprint 3/Docs Obligatorios/pilotUsersCommitmentAgreements/image.png
  docs/Sprint 3/Docs Obligatorios/pilotUsersCommitmentAgreements/pilotUsersCommitmentAgreement.md
Labels: documentación

#460 Doc - Commitment agreement 1.7/338 DONE
  docs/Sprint 3/Docs Obligatorios/AI-usage.md
Labels: documentación

#461 Doc - Sprint Planning PPL/340 DONE
  docs/Sprint 3/Docs Adicionales/PlanningPPL.md
Labels: documentación

#464 Fix 3.32 - Despliegue/442 DONE
  backend/ciao_lavoro/settings.py
  backend/requirements.txt
Labels: despliegue

#465 Doc Contributions report kb #332
  docs/Sprint 3/Docs Obligatorios/report.md
Labels: documentación

#470 Fix 33 - Arreglar testing /469 FIXED
  backend/user/tests.py
Labels: fix, testing

#493 Fix P.2 - Foto perfil icono /477 DONE
  frontend/src/components/Navbar.jsx
Labels: fix, frontend

#494 Fix P.1 - hacer responsive crear un servicio /473 DONE
  frontend/src/components/Navbar.jsx
  frontend/src/components/service/CreateService.jsx
Labels: fix, frontend

#504 Doc - Product Traction Management #479
  docs/PPL/Docs Obligatorios/productTractionManagement.md
Labels: documentación

#502 Doc - Segmentación mercado primera version #478 DONE
  docs/PPL/segmentacionmercado.md
Labels: documentación
