Repository ciaolavoro/ciao-lavoro, pull requests merged in 2024-03, with the labels that each got.

#80 Task 1.7 - Logica Creacion Servicio/43 DONE
  backend/api/views.py
  backend/ciao_lavoro/urls.py
  backend/db.sqlite3
  backend/service/apps.py
  backend/service/serializers.py
  backend/service/urls.py
  backend/service/views.py
Labels: backend, desarrollo

#75 Task 1.8 - Lógica listado de servicio/44 DONE
  backend/api/serializers.py
  backend/api/views.py
  backend/service/serializers.py
  backend/service/urls.py
  backend/service/views.py
Labels: backend, desarrollo

#78 Task 1.16 - Vista listado contrato/52 DONE
  .gitignore
  backend/api/__pycache__/admin.cpython-310.pyc
  backend/api/__pycache__/models.cpython-310.pyc
  backend/api/admin.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/views.py
  backend/ciao_lavoro/settings.py
  backend/ciao_lavoro/urls.py
  backend/contract/__init__.py
  backend/contract/admin.py
  backend/contract/apps.py
  backend/contract/migrations/0001_initial.py
  backend/contract/migrations/__init__.py
  backend/contract/models.py
  backend/contract/tests.py
  backend/contract/views.py
  backend/db.sqlite3
  frontend/src/api/Contract.api.js
  frontend/src/components/contract/ContractCard.jsx
  frontend/src/components/contract/ContractForm.jsx
  frontend/src/components/contract/Contracts.jsx
  frontend/src/main.jsx
Labels: frontend, desarrollo

#81 Task 1.15 - Vista creacion contrato/51 DONE
  .gitignore
  backend/api/admin.py
  backend/api/migrations/0001_initial.py
  backend/api/migrations/0002_alter_contract_acceptworker.py
  backend/api/models.py
  backend/api/serializers.py
  frontend/src/components/contract/ContractForm.jsx
  frontend/src/main.jsx
Labels: frontend, desarrollo

#144 Task 2.11 - Creacion de modelo de Trabajo Co-authored-by: Samalbalat /#123
  backend/db.sqlite3
  backend/service/migrations/0004_alter_job_options_alter_job_estimated_price.py
  backend/service/models.py
  backend/service/urls.py
  backend/service/views.py
Labels: backend, desarrollo

#150 Task 2.17: Listado de Servicios por Usuario (Backend)/129
  backend/service/urls.py
  backend/service/views.py
Labels: backend, desarrollo

#145 Task 2.5 - Registro del usuario/112 DONE
  backend/user/migrations/0002_user_image.py
  backend/user/models.py
  backend/user/urls.py
  backend/user/views.py
Labels: backend, desarrollo

#151 Task 2.15 listado de servicios filtrado ciudad/profesion] (backend)/127
  backend/service/views.py
Labels: backend, desarrollo

#156 Task 2.16 - listado de servicios filtrado ciudadprofesin frontend/128 DONE
  backend/api/serializers.py
  backend/db.sqlite3
  frontend/src/api/Service.api.js
  frontend/src/components/Navbar.jsx
  frontend/src/components/home/Home.jsx
  frontend/src/components/service/ServiceCard.jsx
  frontend/src/components/service/Services.jsx
  frontend/src/main.jsx
Labels: frontend, desarrollo

#152 Task 2.14 - Arreglar Creación de Servicio(backend)/126 DONE
  backend/ciao_lavoro/urls.py
  backend/service/views.py
Labels: fix, backend, desarrollo

#155 Task 2.9 Edicion perfil de usuario/121 DONE
  backend/ciao_lavoro/settings.py
  backend/user/models.py
  backend/user/serializers.py
  backend/user/urls.py
  backend/user/views.py
Labels: backend, desarrollo

#153 Task 2.7 - Detalles del perfil de usuario/119 DONE
  backend/api/serializers.py
  backend/api/views.py
  backend/service/views.py
  backend/user/urls.py
  backend/user/views.py
Labels: backend, desarrollo

#162 Task 2.8 - Detalle del perfil de usuario/120 DONE
  backend/requirements.txt
  backend/user/views.py
  frontend/.eslintrc.cjs
  frontend/src/api/Contract.api.js
  frontend/src/api/Service.api.js
  frontend/src/api/createService.api.js
  frontend/src/api/login.api.js
  frontend/src/api/user.api.js
  frontend/src/components/Navbar.jsx
  frontend/src/components/about/About.jsx
  frontend/src/components/auth/AuthContextProvider.jsx
  frontend/src/components/auth/Login.jsx
  frontend/src/components/contract/ContractCard.jsx
  frontend/src/components/contract/Contracts.jsx
  frontend/src/components/icons/CheckIcon.jsx
  frontend/src/components/icons/CrossIcon.jsx
  frontend/src/components/icons/PencilIcon.jsx
  frontend/src/components/service/CreateService.jsx
  frontend/src/components/service/ServiceCard.jsx
  frontend/src/components/user/Profile.jsx
  frontend/src/components/user/UserProfile.jsx
  frontend/src/components/user/UserProfileButton.jsx
  frontend/src/components/user/UserProfileData.jsx
  frontend/src/components/user/Users.jsx
  frontend/src/main.jsx
  frontend/src/utils/useGetBackendData.js
Labels: frontend, desarrollo

#164 Task 2.35 - Arreglo del inicio de sesión(backend)/163 DONE
  backend/user/urls.py
  backend/user/views.py
Labels: fix, backend

#168 Fix 2.1 - Eliminada dependencia react icons #166
  frontend/src/assets/register/defaultRegisterImage.png
  frontend/src/components/icons/EyeIcon.jsx
  frontend/src/components/icons/EyeSlashIcon.jsx
  frontend/src/components/register/Register.jsx
Labels: fix, frontend

#170 Fix 2 - Modificar inicio de sesión con token/169 DONE
  backend/user/admin.py
  backend/user/models.py
  backend/user/views.py
  frontend/src/components/Navbar.jsx
  frontend/src/components/auth/Login.jsx
  frontend/src/components/user/UserProfile.jsx
Labels: fix, frontend

#167 Task 2.23 listado de contratos de usuario backend /135
  backend/api/views.py
  backend/ciao_lavoro/urls.py
  backend/contract/migrations/0003_remove_contract_worker_alter_contract_status.py
  backend/contract/migrations/0004_contract_worker.py
  backend/contract/models.py
  backend/contract/urls.py
  backend/contract/views.py
  backend/db.sqlite3
  backend/users/2a9n.gif
  backend/users/El_cerebro_del_cerebro_humano_sistema_nervioso_nervio_organización_humana_png.jpg
Labels: backend, desarrollo

#189 Task 2.18 listado de servicios por usuario frontend/130 DONE
  frontend/src/api/Service.api.js
  frontend/src/components/Navbar.jsx
  frontend/src/components/home/Home.jsx
  frontend/src/components/service/ServiceUser.jsx
  frontend/src/components/service/ServiceUserCard.jsx
  frontend/src/main.jsx
Labels: frontend, desarrollo

#190 Task 2.25 - Filtrar listado de Contrato (Backend)/139 DONE
  backend/ciao_lavoro/settings.py
  backend/contract/views.py
  backend/db.sqlite3
Labels: backend, desarrollo

#194 Task 2.51 - Implementacion de valoracion (backend)/187 DONE
  backend/service/admin.py
  backend/service/migrations/0005_review.py
  backend/service/migrations/0006_alter_review_rating.py
  backend/service/migrations/0007_review_date_review_user.py
  backend/service/models.py
  backend/service/serializers.py
  backend/service/urls.py
  backend/service/views.py
Labels: backend, desarrollo

#195 Fix 2.28 arreglar creacion de contrato(frontend)/138 DONE
  backend/ciao_lavoro/settings.py
  backend/contract/migrations/0005_alter_contract_cost.py
  backend/contract/migrations/0006_alter_contract_cost_alter_contract_end_date_and_more.py
  backend/contract/models.py
  backend/contract/views.py
  frontend/src/api/Contract.api.js
  frontend/src/api/login.api.js
  frontend/src/components/Navbar.jsx
  frontend/src/components/contract/CreateContract.jsx
Labels: fix, frontend, desarrollo

#196 Task 2.24 - listado de contratos de usuario frontend/136 DONE
  backend/contract/views.py
  backend/db.sqlite3
  backend/users/imagen_descifrada.jpg
  backend/users/vacascampo.jpg
  docs/Actas de Reunion/Acta reunion 2024-02-03.md
  docs/Actas de Reunion/Acta reunion 2024-02-06.md
  docs/Actas de Reunion/Acta reunion 2024-02-10.md
  docs/Actas de Reunion/Acta reunion 2024-02-13.md
  docs/Actas de Reunion/Acta reunion 2024-02-20.md
  docs/Actas de Reunion/Acta reunion 2024-02-22.md
  docs/Actas de Reunion/Acta reunion 2024-03-01.md
  docs/Actas de Reunion/Acta reunion 2024-03-05.md
  docs/Feedback/Feedback 2024-02-06.md
  docs/Feedback/Feedback 2024-02-13.md
  docs/Feedback/Feedback 2024-02-20.md
  docs/Feedback/Feedback 2024-03-05
  docs/Fotos/ImagenIA1.png
  docs/Fotos/ImagenIA2.png
  docs/Fotos/PericoElBarbero.png
  docs/Fotos/ciaolavoro-con-bordes.png
  docs/Fotos/ciaolavoro-sin-bordes.png
  docs/Sprint2/6-AI-usage.md
  docs/Sprint2/Gestion de la configuracion.md
  frontend/src/api/Contract.api.js
  frontend/src/components/Navbar.jsx
  frontend/src/components/contract/ContractCard.jsx
  frontend/src/components/contract/ContractCardClient.jsx
  frontend/src/components/contract/ContractCardWorker.jsx
  frontend/src/components/contract/ContractUser.jsx
  frontend/src/components/contract/Contracts.jsx
  frontend/src/components/home/Home.jsx
  frontend/src/components/service/ServiceUser.jsx
  frontend/src/main.jsx
Labels: frontend, desarrollo

#171 Task 2.19 - Detalle de Servicio (Backend)/131 DONE
  backend/api/serializers.py
  backend/service/serializers.py
  backend/service/urls.py
  backend/service/views.py
Labels: backend, desarrollo

#192 Task 2.20 - Detalle de Servicio (Frontend)/132 DONE
  backend/contract/views.py
  backend/db.sqlite3
  backend/service/serializers.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/Service.api.js
  frontend/src/components/Navbar.jsx
  frontend/src/components/service/JobData.jsx
  frontend/src/components/service/Service.jsx
  frontend/src/components/service/ServiceButton.jsx
  frontend/src/components/service/ServiceCard.jsx
  frontend/src/components/service/ServiceData.jsx
  frontend/src/components/service/Services.jsx
  frontend/src/main.jsx
Labels: frontend, desarrollo

#210 Fix 2.8 - Corrección campo Status de Contrato/207 DONE
  backend/api/serializers.py
  backend/contract/models.py
Labels: fix, backend

#209 Fix 2.7 - Corrección campo Profesión de Trabajo/205 DONE
  backend/api/serializers.py
  backend/service/serializers.py
Labels: fix, backend

#213 Fix 4 - Arreglado los filtros y el serializers
  backend/api/serializers.py
  backend/db.sqlite3
Labels: fix, backend, desarrollo

#212 Task 2.22 - Baja/alta de servicio (frontend)/134 DONE
  backend/service/urls.py
  backend/service/views.py
  backend/users/talonflame.jpg
  frontend/src/api/Service.api.js
  frontend/src/components/service/Service.jsx
  frontend/src/components/service/ServiceCard.jsx
Labels: frontend, desarrollo

#200 Task 2.26 - Filtrar listado de contrato (Frontend)/143 DONE
  backend/db.sqlite3
  backend/service/serializers.py
  frontend/src/api/Contract.api.js
  frontend/src/components/contract/ContractCardClient.jsx
  frontend/src/components/contract/ContractCardWorker.jsx
  frontend/src/components/contract/ContractUser.jsx
  frontend/src/components/service/ServiceCard.jsx
  frontend/src/components/service/ServiceUserCard.jsx
  frontend/src/main.jsx
Labels: frontend, desarrollo

#214 Task 2.38 Documento de plantilla de testing/174 DONE
  docs/Sprint2/Testing/Imagenes_testing/APIViews_Student.png
  docs/Sprint2/Testing/Imagenes_testing/Assertions_Student_Create.png
  docs/Sprint2/Testing/Imagenes_testing/Assertions_Student_Detail.png
  docs/Sprint2/Testing/Imagenes_testing/Assertions_Student_List.png
  docs/Sprint2/Testing/Imagenes_testing/Clase_estudiante.png
  docs/Sprint2/Testing/Imagenes_testing/Class_Student_Create.png
  docs/Sprint2/Testing/Imagenes_testing/Class_Student_Detail.png
  docs/Sprint2/Testing/Imagenes_testing/Class_Student_List_Test.png
  docs/Sprint2/Testing/Imagenes_testing/Credentials_Login.png
  docs/Sprint2/Testing/Imagenes_testing/DescribeGreet.png
  docs/Sprint2/Testing/Imagenes_testing/EJemplo_Setup_Token.png
  docs/Sprint2/Testing/Imagenes_testing/GetByRole1.png
  docs/Sprint2/Testing/Imagenes_testing/GetByRoleTest.png
  docs/Sprint2/Testing/Imagenes_testing/GreetExpect1.png
  docs/Sprint2/Testing/Imagenes_testing/GreetGetByText1.png
  docs/Sprint2/Testing/Imagenes_testing/GreetPropsts.png
  docs/Sprint2/Testing/Imagenes_testing/GreetRender.png
  docs/Sprint2/Testing/Imagenes_testing/GreetTest.png
  docs/Sprint2/Testing/Imagenes_testing/GreetTest2.png
  docs/Sprint2/Testing/Imagenes_testing/GreetTestNombre.png
  docs/Sprint2/Testing/Imagenes_testing/GreetTestRendersCorrectly.png
  docs/Sprint2/Testing/Imagenes_testing/Greetjsx.png
  docs/Sprint2/Testing/Imagenes_testing/InputForm.png
  docs/Sprint2/Testing/Imagenes_testing/InputForm2.png
  docs/Sprint2/Testing/Imagenes_testing/InputFormTest.png
  docs/Sprint2/Testing/Imagenes_testing/JSON_Student_Create.png
  docs/Sprint2/Testing/Imagenes_testing/Mixer_Students_List.png
  docs/Sprint2/Testing/Imagenes_testing/Reestricciones_clase_estudiante.png
  docs/Sprint2/Testing/Imagenes_testing/Response_Student_Create.png
  docs/Sprint2/Testing/Imagenes_testing/Response_Student_List.png
  docs/Sprint2/Testing/Imagenes_testing/Setup_Test.png
  docs/Sprint2/Testing/Imagenes_testing/Student_List_Test.png
  docs/Sprint2/Testing/Imagenes_testing/Student_Serializer.png
  docs/Sprint2/Testing/Imagenes_testing/Students_Detail_Creations.png
  docs/Sprint2/Testing/Imagenes_testing/Test_Delete_Student.png
  docs/Sprint2/Testing/Imagenes_testing/Test_Student_Create.png
  docs/Sprint2/Testing/Imagenes_testing/Test_Student_Detail.png
  docs/Sprint2/Testing/Imagenes_testing/Url_Call_Student_List.png
  docs/Sprint2/Testing/Imagenes_testing/Url_Student_Create.png
  docs/Sprint2/Testing/Imagenes_testing/Urls_Student.png
  docs/Sprint2/Testing/Testing.md
  frontend/package-lock.json
  frontend/package.json
Labels: testing, documentación

#208 Fix 2.6 - Adición campo Username edición perfil/203 DONE
  backend/user/models.py
  backend/user/urls.py
  backend/user/views.py
Labels: fix, backend

#228 Hotfix 2.1 - Arreglos Generales para Demostración/229 DONE
  backend/api/serializers.py
  backend/api/views.py
  backend/ciao_lavoro/urls.py
  backend/contract/urls.py
  backend/contract/views.py
  backend/service/views.py
  backend/user/views.py
  frontend/src/api/Contract.api.js
  frontend/src/api/Service.api.js
  frontend/src/api/user.api.js
  frontend/src/components/auth/Login.jsx
  frontend/src/components/contract/ContractUser.jsx
  frontend/src/components/service/CreateService.jsx
  frontend/src/components/service/Service.jsx
  frontend/src/components/service/ServiceUserCard.jsx
  frontend/src/components/user/UserProfile.jsx
Labels: fix, backend, frontend, desarrollo

#197 Task 2.10 - Edición del perfil del usuario (Frontend)/122 DONE
  .gitignore
  backend/ciao_lavoro/settings.py
  backend/ciao_lavoro/urls.py
  backend/user/models.py
  frontend/src/api/user.api.js
  frontend/src/components/Navbar.jsx
  frontend/src/components/user/UserProfile.jsx
  frontend/src/components/user/UserProfileData.jsx
  frontend/src/components/user/Users.jsx
  frontend/src/main.jsx
  frontend/src/utils/validation.js
Labels: frontend, desarrollo

#237 Fix 2.15 - mejorar listado de contratos frontend/224 DONE
  frontend/src/components/contract/ContractCardClient.jsx
  frontend/src/components/contract/ContractCardWorker.jsx
  frontend/src/components/contract/ContractUser.jsx
Labels: fix, frontend, desarrollo

#238 Fix 2.13 - Mejorar creación de contrato /223 FIXED
  frontend/src/components/contract/CreateContract.jsx
Labels: fix, frontend, desarrollo

#240 Fix 2.12 - Pagina inicio mejorada #220 /DONE
  backend/db.sqlite3
  backend/user/migrations/0003_alter_user_image.py
  frontend/src/api/Service.api.js
  frontend/src/assets/home/home-banner.jpg
  frontend/src/components/Background.jsx
  frontend/src/components/Root.jsx
  frontend/src/components/contract/ContractUser.jsx
  frontend/src/components/home/Home.jsx
  frontend/src/components/service/Services.jsx
Labels: fix, frontend, desarrollo

#241 Fix 2.9 - Validaciones de registro/217 FIXED
  backend/user/views.py
  frontend/src/api/login.api.js
  frontend/src/components/register/Register.jsx
Labels: fix, frontend, desarrollo

#242 Fix 2.10 mejora inicio sesion frontend/219 FIXED
  frontend/src/components/auth/Login.jsx
Labels: fix, frontend, desarrollo

#248 Task 2.58 - Creación de Plantillas de Issues/246 DONE
  .github/ISSUE_TEMPLATE/plantilla-fix-.md
  .github/ISSUE_TEMPLATE/plantilla-hotfix-.md
  .github/ISSUE_TEMPLATE/plantilla-task--desarrollo-.md
  .github/ISSUE_TEMPLATE/plantilla-task--despliegue-.md
  .github/ISSUE_TEMPLATE/plantilla-task--documentación-.md
  .github/ISSUE_TEMPLATE/plantilla-task--tests-.md
  .github/commit-template.txt
Labels: documentación

#236 Hotfix 2.4 - Arreglo errores relacionados con contrato/232 FIXED
  backend/api/serializers.py
  backend/api/views.py
  backend/contract/admin.py
  backend/contract/models.py
  backend/contract/serializers.py
  backend/contract/urls.py
  backend/contract/views.py
  backend/users/0e027f5cd38edd458b2d2226f4a3875b.jpg
Labels: backend, desarrollo

#254 Task 2.57 - gestión de estado de contrato frontend/245 DONE
  backend/contract/views.py
  frontend/src/api/Contract.api.js
  frontend/src/components/contract/Accordion.jsx
  frontend/src/components/contract/ContractCardClient.jsx
  frontend/src/components/contract/ContractCardWorker.jsx
  frontend/src/components/contract/ContractUser.jsx
  frontend/src/components/service/ServiceUser.jsx
  frontend/src/components/service/Services.jsx
Labels: frontend, desarrollo

#257 Fix 2.20 - Arreglo de configuracion y documento/256 FIXED
  docs/Sprint2/Testing/Imagenes_testing/ToBe.png
  docs/Sprint2/Testing/Testing.md
  frontend/package-lock.json
  frontend/package.json
Labels: fix, documentación

#250 Task 2.52 - implementación de la valoración/188 DONE
  .gitignore
  backend/api/serializers.py
  backend/db.sqlite3
  backend/service/serializers.py
  frontend/src/api/Service.api.js
  frontend/src/components/service/Review.jsx
  frontend/src/components/service/Service.jsx
  frontend/src/main.jsx
Labels: fix, frontend, desarrollo

#239 Hotfix 2.2 - Arreglo errores relacionados con usuario/230 FIXED
  backend/ciao_lavoro/urls.py
  backend/user/models.py
  backend/user/urls.py
  backend/user/views.py
  frontend/src/api/user.api.js
  frontend/src/components/user/UserProfile.jsx
Labels: fix, backend, frontend

#258 Task 2.56 - Configurar el formateador de Prettier (Frontend)/222 DONE
  .gitignore
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/src/api/Contract.api.js
  frontend/src/api/Service.api.js
  frontend/src/api/login.api.js
  frontend/src/api/user.api.js
  frontend/src/components/Navbar.jsx
  frontend/src/components/user/UserProfile.jsx
  frontend/src/utils/backendApi.js
  frontend/src/utils/useGetBackendData.js
Labels: frontend, desarrollo

#247 Hotfix 2.3 - arreglo errores relacionados con servicio/231 FIXED
  .github/workflows/commit-template.txt
  backend/api/views.py
  backend/ciao_lavoro/urls.py
  backend/service/models.py
  backend/service/urls.py
  backend/service/views.py
  backend/user/urls.py
Labels: backend, desarrollo, hotfix

#264 Fix 2.22 - Solventar error en la manipulación de perfíl/263 FIXED
  backend/user/models.py
  backend/user/views.py
Labels: backend, desarrollo

#266 Fix 2.23 - Solventado el error#265 FIXED
  frontend/src/components/service/Jobs.jsx
Labels: fix, frontend

#259 Fix 2.11 - Mejorar navbar (Frontend)/218 FIXED
  frontend/components.json
  frontend/jsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Navbar.jsx
  frontend/src/components/home/Home.jsx
  frontend/src/components/icons/BriefcaseIcon.jsx
  frontend/src/components/icons/DocumentIcon.jsx
  frontend/src/components/icons/LogoutIcon.jsx
  frontend/src/components/icons/UserProfileIcon.jsx
  frontend/src/components/ui/dropdown-menu.jsx
  frontend/src/index.css
  frontend/src/lib/utils.js
  frontend/tailwind.config.js
  frontend/vite.config.js
  package-lock.json
Labels: frontend, desarrollo

#274 Fix 2.27 - La foto no se guarda al registrarse/273 FIXED
  backend/user/views.py
  frontend/src/api/login.api.js
  frontend/src/components/register/Register.jsx
Labels: fix, backend, frontend

#272 Fix 2.25 - Boton añadir nueva reseña /269 FIXED
  frontend/src/components/service/Service.jsx
Labels: fix, frontend, desarrollo

#271 Fix 2.26 - Mejora tarjetas contratos frontend/270 FIXED
  frontend/src/components/contract/ContractCardClient.jsx
  frontend/src/components/contract/ContractCardWorker.jsx
  frontend/src/components/contract/ContractUser.jsx
Labels: fix, frontend

#268 Fix 2.24 - Añadir profesines a servicios/267 FIXED
  backend/service/urls.py
  backend/service/views.py
  frontend/src/api/Service.api.js
  frontend/src/components/service/CreateService.jsx
  frontend/src/components/service/Service.jsx
  frontend/src/components/service/Services.jsx
Labels: fix, backend, frontend

#275 Task 2.46,2.47 - Realizar el pago de Servicios (Frontend+Backend)/182 DONE
  backend/ciao_lavoro/settings.py
  backend/contract/urls.py
  backend/contract/views.py
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/Contract.api.js
  frontend/src/components/contract/ContractCardClient.jsx
Labels: backend, frontend, desarrollo

#280 Fix 2.29 utilizar foto por defecto en los perfiles sin foto/279 FIXED
  backend/user/views.py
Labels: fix, backend

#278 Fix 2.28 Detalle servicio frontend /276 FIXED
  frontend/src/components/Navbar.jsx
  frontend/src/components/service/Jobs.jsx
  frontend/src/components/service/Service.jsx
  frontend/src/components/service/ServiceCard.jsx
  frontend/src/components/service/ServiceUser.jsx
  frontend/src/components/service/ServiceUserCard.jsx
Labels: fix, frontend

#281 Task 2.60 - Despliegue del proyecto/260 DONE
  backend/db.sqlite3
  backend/service/migrations/0008_alter_job_estimated_price_alter_service_city_and_more.py
  backend/user/migrations/0004_alter_user_is_active.py
  backend/users/0e027f5cd38edd458b2d2226f4a3875b.jpg
  backend/users/2a9n.gif
  backend/users/ArtistryBySimone.png
  backend/users/CiaoLavoroAdmin.png
  backend/users/CuidadorCarlos.png
  backend/users/El_cerebro_del_cerebro_humano_sistema_nervioso_nervio_organización_humana_png.jpg
  backend/users/ElenaTechSol.png
  backend/users/JRobCarpentry.png
  backend/users/NkosiForgeAndLocks.png
  backend/users/ProfLuisTutor.png
  backend/users/ProfeSofiaEducación.png
  backend/users/RuizConstrucciones.png
  backend/users/SastreriaClara.png
  backend/users/ZhouChauffeurServices.png
  backend/users/default.png
  backend/users/imagen_descifrada.jpg
  backend/users/talonflame.jpg
  backend/users/vacascampo.jpg
  frontend/src/components/service/ServiceCard.jsx
Labels: despliegue

#299 Task 2.40 testing de usuarios (backend)/176 DONE
  backend/user/tests.py
  backend/user/urls.py
  backend/user/views.py
Labels: backend, testing

#302 Task 2.61 - customer agreement frontend/300 DONE
  backend/ciao_lavoro/settings.py
  frontend/src/components/register/Register.jsx
Labels: frontend, desarrollo
